.photo-grid__item {
    display: block;
    width: 100%;
    margin-bottom: 12px;
}

.photo-grid__item:last-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .photo-grid__item {
        margin: 0;
    }
}